<form action="/flights" method="post">
  <dl>
    <dt>
      <label for="trip_name">Enter the name for your trip:</label>
    </dt>
    <dd>
      <input name="trip_name" placeholder="Trip Name" type="text" value="">
    </dd>
    <dt>
    <label for="flight_date">Enter the date of your flight:</label>
  </dt>
  <dd>
    <input name="flight_date" type="date" value="">
  </dd>
  </dl>
  <fieldset class="actions">
    <input type="submit" value="Save">
    <a href="/flights">Cancel</a>
  </fieldset>
</form>